# Fight for Children Ward 8 Report

In [5]:
import pandas as pd
from pathlib import Path
from datetime import datetime

%matplotlib inline

today = datetime.today()
in_file = Path.cwd() / "data" / "processed" / "processed_data.pkl"
report_dir = Path.cwd() / "reports"
report_file = report_dir / "Excel_Analysis_{today:%b-%d-%Y}.xlsx"

In [6]:
df = pd.read_pickle(in_file)

In [7]:
df_current_only = df[df["College Track Status"] == "Current CT HS Student"]

### *# of students enrolled (Current CT HS Student Only):

In [8]:
len(df_current_only)

52

### *# of students enrolled (Current CT HS Student AND Onboarding):

In [13]:
len(df)

78

### *#/% racial/ethnic demographics (Current CT HS Student Only):

In [14]:
ethnic_table = df_current_only.pivot_table(
    index="Ethnic background", values="18 Digit ID", aggfunc="count"
)


ethnic_table["% of Total"] = (
    round(
        (ethnic_table["18 Digit ID"] / ethnic_table["18 Digit ID"].sum() * 100), 0
    ).astype(str)
    + "%"
)

ethnic_table

                   18 Digit ID % of Total
Ethnic background
African-American            50      96.0%
Other                        2       4.0%

### ### *#/% racial/ethnic demographics (Current CT HS Student AND Onboarding):

In [15]:
ethnic_table = df.pivot_table(
    index="Ethnic background", values="18 Digit ID", aggfunc="count"
)

ethnic_table["% of Total"] = (
    round(
        (ethnic_table["18 Digit ID"] / ethnic_table["18 Digit ID"].sum() * 100), 0
    ).astype(str)
    + "%"
)

ethnic_table

                   18 Digit ID % of Total
Ethnic background
African-American            75      96.0%
Native American              1       1.0%
Other                        2       3.0%

### *#/% male/female demographics ( Current CT HS Student Only):

In [16]:
gender_table = df_current_only.pivot_table(
    index="Gender", values="18 Digit ID", aggfunc="count"
)

gender_table["% of Total"] = (
    round(
        (gender_table["18 Digit ID"] / gender_table["18 Digit ID"].sum() * 100), 0
    ).astype(str)
    + "%"
)

gender_table

        18 Digit ID % of Total
Gender
Female           30      58.0%
Male             22      42.0%

### *#/% male/female demographics ( Current CT HS Student AND Onboarding):

In [17]:
gender_table = df.pivot_table(index="Gender", values="18 Digit ID", aggfunc="count")

gender_table["% of Total"] = (
    round(
        (gender_table["18 Digit ID"] / gender_table["18 Digit ID"].sum() * 100), 0
    ).astype(str)
    + "%"
)

gender_table

        18 Digit ID % of Total
Gender
Female           45      58.0%
Male             33      42.0%

### *#/% low-income (Current CT HS Student Only):

In [18]:
low_income_table = df_current_only.pivot_table(
    index="Indicator: Low-Income", values="18 Digit ID", aggfunc="count"
)

low_income_table["% of Total"] = (
    round(
        (low_income_table["18 Digit ID"] / low_income_table["18 Digit ID"].sum() * 100),
        0,
    ).astype(str)
    + "%"
)

low_income_table

                       18 Digit ID % of Total
Indicator: Low-Income
False                           15      29.0%
True                            37      71.0%

### *#/% low-income (Current CT HS Student AND Onboarding):

In [19]:
low_income_table = df.pivot_table(
    index="Indicator: Low-Income", values="18 Digit ID", aggfunc="count"
)

low_income_table["% of Total"] = (
    round(
        (low_income_table["18 Digit ID"] / low_income_table["18 Digit ID"].sum() * 100),
        0,
    ).astype(str)
    + "%"
)

low_income_table

                       18 Digit ID % of Total
Indicator: Low-Income
False                           20      26.0%
True                            58      74.0%

### *#/% first-generation (Current CT HS Student Only):

In [20]:
first_gen_table = df_current_only.pivot_table(
    index="First Generation", values="18 Digit ID", aggfunc="count"
)

first_gen_table["% of Total"] = (
    round(
        (first_gen_table["18 Digit ID"] / first_gen_table["18 Digit ID"].sum() * 100), 0
    ).astype(str)
    + "%"
)

first_gen_table

                  18 Digit ID % of Total
First Generation
Missing                     4       8.0%
No                          2       4.0%
Yes                        46      88.0%

### *#/% first-generation (Current CT HS Student AND Onboarding):

In [21]:
first_gen_table = df.pivot_table(
    index="First Generation", values="18 Digit ID", aggfunc="count"
)

first_gen_table["% of Total"] = (
    round(
        (first_gen_table["18 Digit ID"] / first_gen_table["18 Digit ID"].sum() * 100), 0
    ).astype(str)
    + "%"
)

first_gen_table

                  18 Digit ID % of Total
First Generation
Missing                     8      10.0%
No                          3       4.0%
Yes                        67      86.0%

### PSAT Data (Current CT HS Student Only):

The average PSAT Math Score was 374.

The average PSAT English score was 339

The average PSAT Total was 713

### Applicants Data:

Number of Applicants: 99

### Ward 8 Residents (Current CT HS Student Only):

In [22]:
ward_8_table = df_current_only.pivot_table(
    index="ward_8_resident", values="18 Digit ID", aggfunc="count"
)

ward_8_table["% of Total"] = (
    round(
        (ward_8_table["18 Digit ID"] / ward_8_table["18 Digit ID"].sum() * 100), 0
    ).astype(str)
    + "%"
)

ward_8_table

                 18 Digit ID % of Total
ward_8_resident
False                     11      21.0%
True                      41      79.0%

### Ward 8 Residents  (Current CT HS Student AND Onboarding):

In [23]:
ward_8_table = df.pivot_table(
    index="ward_8_resident", values="18 Digit ID", aggfunc="count"
)

ward_8_table["% of Total"] = (
    round(
        (ward_8_table["18 Digit ID"] / ward_8_table["18 Digit ID"].sum() * 100), 0
    ).astype(str)
    + "%"
)

ward_8_table

                 18 Digit ID % of Total
ward_8_resident
False                     14      18.0%
True                      64      82.0%

### School Breakdown (Current CT HS Student Only):

Sorry, the schools are entered into the system as DCPS. We don't have any additional data

In [24]:
school_table = df_current_only.pivot_table(
    index="Current School", values="18 Digit ID", aggfunc="count"
)

school_table["% of Total"] = (
    round(
        (school_table["18 Digit ID"] / school_table["18 Digit ID"].sum() * 100), 0
    ).astype(str)
    + "%"
)

school_table

                                                    18 Digit ID % of Total
Current School
DC Public Schools                                             7      13.0%
Frank W. Ballou High School                                   9      17.0%
Friendship Technology Prepartory Middle & High               26      50.0%
Marshall (Thurgood) High School                               1       2.0%
Thurgood Marshall Academy Public Charter High S...            9      17.0%

### School Breakdown (Current CT HS Student AND Onboarding):

In [25]:
school_table = df.pivot_table(
    index="Current School", values="18 Digit ID", aggfunc="count"
)

school_table["% of Total"] = (
    round(
        (school_table["18 Digit ID"] / school_table["18 Digit ID"].sum() * 100), 0
    ).astype(str)
    + "%"
)

school_table

                                                    18 Digit ID % of Total
Current School
DC Public Schools                                            11      14.0%
Frank W. Ballou High School                                  18      23.0%
Friendship Technology Prepartory Middle & High               35      45.0%
Marshall (Thurgood) High School                               1       1.0%
Thurgood Marshall Academy Public Charter High S...           13      17.0%