# FY21 United Way of Southeast Louisiana (UWSELA) Interim Report Data Request

For ticket #10911 submitted July 23, 2021.

Prepared by Baker Renneckar

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
from datetime import datetime
import numpy as np
# from tabulate import tabulate
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [3]:
%matplotlib inline

In [4]:
df = pd.read_pickle('../data/processed/merged_data_ay_2020_21.pkl')

## Demographic Data

#### Gender / Age / Student Type Breakdown

In [5]:
pd.crosstab([df.C_Gender__c, df.C_Age__c], df.RT_RecordType__c, margins=True, colnames=[
            'Student Type'], rownames=['Gender', 'Age'], margins_name='Total')

Student Type  College Student  High School Student  Total
Gender Age
Female 14.0                 0                    7      7
       15.0                 0                   39     39
       16.0                 0                   42     42
       17.0                 0                   43     43
       18.0                 7                   34     41
       19.0                29                    0     29
       20.0                30                    0     30
       21.0                21                    0     21
       22.0                33                    0     33
       23.0                10                    0     10
       24.0                 9                    0      9
       25.0                 1                    0      1
       26.0                 2                    0      2
Male   14.0                 0                    3      3
       15.0                 0                   10     10
       16.0                 0                   16     16
       17.0                 0                   18     18
       18.0                 1                   20     21
       19.0                 9                    2     11
       20.0                10                    0     10
       21.0                11                    0     11
       22.0                 5                    0      5
       23.0                 5                    0      5
       24.0                 1                    0      1
       25.0                 1                    0      1
Other  17.0                 0                    1      1
Total                     185                  235    420

#### Gender / Ethnic / Student Type Breakdown

In [6]:
pd.crosstab([df.C_Gender__c, df.C_Ethnic_background__c], df.RT_RecordType__c, margins=True, colnames=[
            'Student Type'], rownames=['Gender', 'Ethnicity'], margins_name='Total')

Student Type              College Student  High School Student  Total
Gender Ethnicity
Female African-American               129                  132    261
       Asian-American                   0                   10     10
       Decline to State                 0                    2      2
       Latino / Chicano                10                   12     22
       Multiracial                      3                    3      6
       Native American                  0                    1      1
       Other                            0                    4      4
       White / Caucasian                0                    1      1
Male   African-American                42                   50     92
       Asian-American                   0                    7      7
       Latino / Chicano                 1                    5      6
       Multiracial                      0                    3      3
       Other                            0                    1      1
       White / Caucasian                0                    3      3
Other  Asian-American                   0                    1      1
Total                                 185                  235    420

#### Count of unduplicated participants by sex and Employment Status

In [7]:
pd.crosstab([df.C_Gender__c, df.C_Employment_Status__c], df.RT_RecordType__c, margins=True, colnames=[
            'Student Type'], rownames=['Gender', 'Employment Status'], margins_name='Total')

Student Type                     College Student  High School Student  Total
Gender Employment Status
Female Employed part time                      3                    0      3
       No information available              139                  165    304
Male   No information available               43                   69    112
Other  No information available                0                    1      1
Total                                        185                  235    420

#### *Count of unduplicated participants by household income in the following categories: Total Number of Persons less than or equal to 30% Area Median Income (extremely low income), Total Number of Persons over 30% not greater than 50% Area Median Income (low income), Total Number of Persons over 50% not greater than 80% Area Median Income (moderate income), Total Number of Persons over 80% Area Median Income (non-LMI), No Income, Unknown.

In [8]:
pd.crosstab([df['Income Bucket']], df.RT_RecordType__c, margins=True, colnames=[
            'Student Type'], rownames=['Income Bucket'], margins_name='Total')

Student Type,College Student,High School Student,Total
Income Bucket,,,
Between 30% of 50% of Median Income,19,31,50
Between 51% and 80% of Median Income,53,88,141
Greater than 80% of Median Income,78,83,161
Less than or equal to 30% of Median Income,35,33,68
Total,185,235,420

#### Gender / Parish Breakdown

In [9]:
pd.crosstab([df.C_Gender__c, df.Parish.fillna('Missing')], df.RT_RecordType__c, margins=True, colnames=[
            'Student Type'], rownames=['Gender', 'Parish'], margins_name='Total')

Student Type                        College Student  High School Student  \
Gender Parish
Female East Baton Rouge Parish                    1                    0
       Jefferson Parish                          18                   12
       Missing                                    5                    0
       Orleans Parish                           112                  152
       Plaquemines Parish                         0                    1
       St. Bernard Parish                         2                    0
       St. John the Baptist Parish                1                    0
       St. Tammany Parish                         3                    0
Male   East Baton Rouge Parish                    1                    0
       Harris County                              1                    0
       Jefferson Parish                           4                    6
       Orleans Parish                            35                   63
       St. Bernard Parish                         1                    0
       St. Charles Parish                         1                    0
Other  Orleans Parish                             0                    1
Total                                           185                  235

Student Type                        Total
Gender Parish
Female East Baton Rouge Parish          1
       Jefferson Parish                30
       Missing                          5
       Orleans Parish                 264
       Plaquemines Parish               1
       St. Bernard Parish               2
       St. John the Baptist Parish      1
       St. Tammany Parish               3
Male   East Baton Rouge Parish          1
       Harris County                    1
       Jefferson Parish                10
       Orleans Parish                  98
       St. Bernard Parish               1
       St. Charles Parish               1
Other  Orleans Parish                   1
Total                                 420

## High School Questions

In [10]:
df_2021 = df[df.C_HIGH_SCHOOL_GRADUATING_CLASS__c == "2021"]

In [11]:
len(df_2021)

59

#### *% and # of Class of 2021 NOLA seniors who have submitted, completed, or are in the “review” phase with FAFSA to date

In [12]:
def create_count_percent_cross_tab(df, row_column, column_column, row_name, subset_name = 'High School Student'):
    cross_1 = pd.crosstab(df[row_column].fillna('No Data'), df[column_column], dropna=False, colnames=[
            subset_name], rownames=[row_name], margins=True)
    
    cross_2 = pd.crosstab(df[row_column].fillna('No Data'), df[column_column], dropna=False, colnames=[
            subset_name], rownames=[row_name], normalize=True, margins=True)
    
    cross_1['Percent'] = cross_2[subset_name].values
    cross_1.rename(columns={subset_name: "Count"}, inplace=True)
    cross_1.drop('All', inplace=True, axis=1)
    return cross_1.style.format({'Percent': "{:.0%}"})

In [13]:
df_2021_us_citizen = df_2021[df_2021.C_Citizen_c__c == 'US Citizen']
df_2021_us_citizen_pr = df_2021[df_2021.C_Citizen_c__c != 'Other']

Not Including permanent residence.

In [14]:
create_count_percent_cross_tab(df_2021_us_citizen, 'C_FA_Req_FAFSA__c', 'RT_RecordType__c', 'FAFSA Status')

Including permanent residence.

In [15]:
create_count_percent_cross_tab(df_2021_us_citizen_pr, 'C_FA_Req_FAFSA__c', 'RT_RecordType__c', 'FAFSA Status')

#### % and # of our Class of 2021 NOLA high school seniors who qualify for TOPS eligibility.

The first table is using data from Salesforce. The second table is just showing the students who are above or equal to a 2.5 GPA and 20 ACT

In [16]:
create_count_percent_cross_tab(df_2021, 'C_Region_Specific_Funding_Eligibility__c', 'RT_RecordType__c', 'TOPS Status')

In [17]:
df_2021['tops_proxy'] = np.where((df_2021.C_Most_Recent_GPA_Cumulative__c >= 2.5)&(df_2021.C_ACT_Superscore_highest_official__c >=20),True,False)

In [18]:
create_count_percent_cross_tab(df_2021, 'tops_proxy', 'RT_RecordType__c', 'TOPS Status - Proxy')

#### # and % of four-year college acceptances for the high school Class of 2021 during the reporting period.

In [16]:
df_2021['accepted_college'] = df.C_Four_Year_College_Acceptances__c > 0

In [17]:
create_count_percent_cross_tab(df_2021, 'accepted_college', 'RT_RecordType__c', 'Accepted into College')

#### # and % of NOLA high school students in the 2020-21 academic year with 3.0+ cumulative GPAs

The first table is based on the most recent GPA value we have on file for students. Which is a mix of Fall 2020-21 and Spring 2020-21 data. 

The second table is based only Spring 2020-21 data, which is mostly incomplete and will be until end of August.

In [19]:
df_hs = df[df.RT_RecordType__c == "High School Student"]

In [20]:
df_hs['above_3_gpa_most_recent'] = df.C_Most_Recent_GPA_Cumulative__c >= 3.0
df_hs['above_3_gpa_fall'] = df.AS_GPA_HS_cumulative__c >= 3.0

In [21]:
create_count_percent_cross_tab(df_hs, 'above_3_gpa_most_recent', 'RT_RecordType__c', 'Most Recent GPA >= 3.0')

In [23]:
create_count_percent_cross_tab(df_hs, 'above_3_gpa_fall', 'RT_RecordType__c', 'Spring 2020-21 GPA >= 3.0')

#### % of NOLA freshmen and sophomores required to attend MathBlast who completed the 3-5 weeks during this reporting period (summer 2021)

 I don't have a easy way to determine who is required to attend Math Blast so, I'm assuming if a student attended any Math Blast they were required to attend, and if they didn't attend anything they weren't required (or had a waver). I'm also using attended 80%+ as a proxy for 3-5 weeks.Let me know if you think we should do something else.

In [24]:
df_2022_2023 = df[(df.C_HIGH_SCHOOL_GRADUATING_CLASS__c == "2024") | (df.C_HIGH_SCHOOL_GRADUATING_CLASS__c == "2023")]

In [25]:
df_2022_2023 = df_2022_2023[df_2022_2023.attendance_rate > 0]

In [26]:
create_count_percent_cross_tab(df_2022_2023, 'above_80', 'RT_RecordType__c', 'Attended 80%+ Math Blast')

#### average # of four-year colleges to which Class of 2021 NOLA high school seniors applied during this reporting period

In [27]:
df_2021.C_Four_Year_College_Applications__c.mean().round(2)

6.39

#### average # of outside scholarships for which Class of 2021 NOLA high school seniors applied during this reporting period

In [28]:
df_2021.num_scholarships.mean().round(2)

1.81

#### # of avg. community service hours Class of 2021 NOLA high school seniors have completed throughout high school.

In [29]:
df_2021.C_Total_Community_Service_Hours_Completed__c.mean().round(2)

177.49

#### % of NOLA high school students who attend 80% or more of their scheduled College Track programming sessions during this reporting period

Took this from the new DDT: 83%

## College Questions

#### % of rising college freshmen who completed "College Prep Institute" to prepare for matriculation during this reporting period

I don't see any workshops with "College Prep Institute" in the title since 2016. They do have Summer Bridge, which I assume is the same thing.

NOTE: I do see a workshop that occured in May 2021 for Summer Bridge, but no attendance was taken. So I actually don't know what the attendance rates are for this!

In [32]:
df_2020 = df[(df.C_HIGH_SCHOOL_GRADUATING_CLASS__c == "2021")]

In [33]:
create_count_percent_cross_tab(df_2020, 'above_80', 'RT_RecordType__c', 'Attended 80%+ Summer Bridge',subset_name='High School Student')

## Questions with No Data Related Answer

**Question:**

* The number of households that fit within the following "Client Type of Household" categories: Couple With Children/Dependents, Couple With No Children/Dependents, Female Householder With Children/Dependents - No Spouse/Partner, Male Householder with Children/Dependents - No Spouse/Partner, Single Household, Other, Unknown
--from our last report, I understand most if not all of our student households fall into the "unknown" category. Please confirm that this is still the case.

**Answer: All of our students would fall into the unknown category**

**Question:** # and % of high school students promoted to the next grade from the 2019-2020 academic year



**Answer: 100% of our students we still track would have moved on a grade and we don't have a way to track students who left the program.**

**Question:** *% and # of class of 2020 seniors who graduated high school on time




**Answer: Likewise, we have to say 100% of our students graduated HS because if a student wasn't going to graduate HS then they would be removed from the program.**

In [1]:
%%html

<script>
$(document).ready(function(){
    window.code_toggle = function() {
        (window.code_shown) ? $('div.input').hide(250) : $('div.input').show(250);
        window.code_shown = !window.code_shown
    }
    if($('body.nbviewer').length) {
        $('<li><a href="javascript:window.code_toggle()" title="Show/Hide Code"><span class="fa fa-code fa-2x menu-icon"></span><span class="menu-text">Show/Hide Code</span></a></li>').appendTo('.navbar-right');
        window.code_shown=false;
        $('div.input').hide();
    }
});
</script>


<style>

div.prompt {display:none}


h1, .h1 {
    font-size: 33px;
    font-family: "Trebuchet MS";
    font-size: 2.5em !important;
    color: #2a7bbd;
}

h2, .h2 {
    font-size: 10px;
    font-family: "Trebuchet MS";
    color: #2a7bbd; 
    
}


h3, .h3 {
    font-size: 10px;
    font-family: "Trebuchet MS";
    color: #5d6063; 
    
}

.rendered_html table {

    font-size: 14px;
}

.output_png {
  display: flex;
  justify-content: center;
}

.cell {
    padding: 0px;
}


</style>