# Heising-Simons Proposal Data

In [2]:
%load_ext autoreload
%autoreload 2

In [5]:
import pandas as pd
from datetime import datetime
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
from ct_snippets.load_sf_class import SF_SOQL, SF_Report
warnings.filterwarnings('ignore')

In [6]:
%matplotlib inline

In [9]:
df = pd.read_pickle("../data/interim/data.pkl")

### Breakdown of AY 2019-20 Students Who Are Dreamers - By Student Type

In [11]:
prev_year_df = df[~pd.isna(df.AY2019_20_Student)]


prev_year_student_type = prev_year_df.pivot_table(
    index=["Site", "AY2019_20_Student"],
    columns="Dreamer",
    values="C_Id",
    aggfunc="count",
    dropna=True,
    margins=True,
    fill_value=0,
)
prev_year_student_type

Dreamer                                     No  Yes   All
Site              AY2019_20_Student
Aurora            High School Student      212    4   216
                  Post-Secondary Student   132   10   142
Boyle Heights     High School Student      243   15   258
                  Post-Secondary Student   135   28   163
Denver            High School Student       72    0    72
East Palo Alto    High School Student      214    4   218
                  Post-Secondary Student   136   22   158
New Orleans       High School Student      219    6   225
                  Post-Secondary Student   164    3   167
Oakland           High School Student      259    4   263
                  Post-Secondary Student   204    8   212
Sacramento        High School Student      199    2   201
                  Post-Secondary Student    67    2    69
San Francisco     High School Student      220    8   228
                  Post-Secondary Student   233   11   244
The Durant Center High School Student      127    0   127
Ward 8            High School Student       63    0    63
Watts             High School Student      203    5   208
                  Post-Secondary Student    36    3    39
All                                       3138  135  3273

### Percent of AY 2019-20 Students Who Are Dreamers

In [15]:
prev_year_student_type_percent = pd.crosstab(
    [prev_year_df.Site], prev_year_df.Dreamer, normalize="index", margins=True
).style.format("{:.0%}")

prev_year_student_type_percent

### Current AY Dreamer Breakdown By Student Type

In [19]:
current_year_df = df[df.status.isin(["High School Student", "Post-Secondary Student"])]


current_year_student_type = current_year_df.pivot_table(
    index=["Site", "status"],
    columns="Dreamer",
    values="C_Id",
    aggfunc="count",
    dropna=True,
    margins=True,
    fill_value=0,
)

current_year_student_type

Dreamer                                     No  Yes   All
Site              status
Aurora            High School Student      172    1   173
                  Post-Secondary Student   168   13   181
Boyle Heights     High School Student      197    6   203
                  Post-Secondary Student   165   34   199
Denver            High School Student       54    0    54
                  Post-Secondary Student     9    0     9
East Palo Alto    High School Student      173    2   175
                  Post-Secondary Student   156   22   178
New Orleans       High School Student      159    2   161
                  Post-Secondary Student   208    8   216
Oakland           High School Student      192    3   195
                  Post-Secondary Student   265   12   277
Sacramento        High School Student      151    2   153
                  Post-Secondary Student   111    2   113
San Francisco     High School Student      152    2   154
                  Post-Secondary Student   291   18   309
The Durant Center High School Student      138    0   138
Ward 8            High School Student       60    0    60
Watts             High School Student      163    2   165
                  Post-Secondary Student    71    6    77
All                                       3055  135  3190

### Current Year Dreamer Percentage

In [22]:
current_year_student_type_percent = pd.crosstab(
    [current_year_df.Site], current_year_df.Dreamer, normalize="index", margins=True
).style.format("{:.0%}")

current_year_student_type_percent

### Alumni Dreamer Breakdown

In [17]:
alumni = df[df.status == "Alumni"]


alumni_percent = pd.crosstab([alumni.Site], alumni.Dreamer, margins=True)
alumni_percent

Dreamer          No  Yes  All
Site
Aurora           38    2   40
Boyle Heights    11    3   14
East Palo Alto  220   42  262
New Orleans      63    2   65
Oakland         202   16  218
San Francisco   162    3  165
All             696   68  764

In [7]:
%%html

<script>
$(document).ready(function(){
    window.code_toggle = function() {
        (window.code_shown) ? $('div.input').hide(250) : $('div.input').show(250);
        window.code_shown = !window.code_shown
    }
    if($('body.nbviewer').length) {
        $('<li><a href="javascript:window.code_toggle()" title="Show/Hide Code"><span class="fa fa-code fa-2x menu-icon"></span><span class="menu-text">Show/Hide Code</span></a></li>').appendTo('.navbar-right');
        window.code_shown=false;
        $('div.input').hide();
    }
});
</script>


<style>

div.prompt {display:none}


h1, .h1 {
    font-size: 33px;
    font-family: "Trebuchet MS";
    font-size: 2.5em !important;
    color: #2a7bbd;
}

h2, .h2 {
    font-size: 10px;
    font-family: "Trebuchet MS";
    color: #2a7bbd; 
    
}


h3, .h3 {
    font-size: 10px;
    font-family: "Trebuchet MS";
    color: #5d6063; 
    
}

.rendered_html table {

    font-size: 14px;
}

.output_png {
  display: flex;
  justify-content: center;
}

.cell {
    padding: 0px;
}


</style>